gpt2_wikitext2/model_real_trained
gpt2_wikitext2/model_collapse_results_v1
gpt2_wikitext2/model_collapse_results_v2
gpt2_wikitext2/model_collapse_results_v3
gpt2_wikitext2/sensitivity_analysis_results_v1
gpt2_wikitext2/sensitivity_analysis_results_v2
gpt2_wikitext2/rejection_sampling_results_v1
gpt2_wikitext2/rejection_sampling_results_v2
gpt2_wikitext2/rejection_sampling_results_v3
gpt2_wikitext2/rejection_sampling_results_v4
gpt2_wikitext2/rejection_sampling_results_v5
gpt2_wikitext2/rejection_sampling_results_v6
gpt2_wikitext2/rejection_sampling_results_v7
gpt2_wikitext2/rejection_sampling_results_v8
gpt2_wikitext2/rejection_sampling_results_v9

*.safetensors
*.bin
*.arrow
*.pth