gpt2_wikitext2/model_real_trained
gpt2_wikitext2/model_collapse_results_v1
gpt2_wikitext2/model_collapse_results_v2
gpt2_wikitext2/model_collapse_results_v3
gpt2_wikitext2/sensitivity_analysis_results_v1
gpt2_wikitext2/sensitivity_analysis_results_v2

*.safetensors
*.bin
*.arrow
*.pth